

body {
	margin:0;
}

 
.header {
   /* background-color: #4f0418; */
   /* background-image: url("bee_backgroundv4.jpg");*/
    background-color: #4f0418;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

.header h1 { 
     color: whitesmoke;
  font-size: 120px;
  text-align: center; 
 font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
    font-weight: bold;
   padding: 200px 20px 20px 20px;
    margin-bottom: 0px;
}

.header a {
    font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
    	
    font-weight: lighter;
	color: white;
	text-decoration: none;
}

.banner{
      
   font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
    font-weight: lighter;
    color: whitesmoke;
	font-size: 28px;
	text-align: center;
    padding: 0px 20px 200px 20px;
	}




.banner a {
      
   font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
    	
    font-weight: lighter;
	color: white;
	text-decoration: none;
}



.times {
	text-align: center;
    font-family: 'Josefin Sans', 'Century Gothic', sans-serif; 
    font-weight: lighter;
	font-size: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
}


.section2 {
	padding-bottom: 20px;
    padding-top: 20px;
    background-color: #e8dede;
    margin-top: 50px;
}

.pricelist{
    font-size: 60px;
    margin: 0px;
    padding: 0px;
      font-weight: lighter;
   font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
	color: #000;
	text-align: center;
}

.navigation {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    
}

.navigationback {
    margin-bottom: 70px;
	text-align: center;
}


.btn {
 background-color: #000;
  color: #FFF;
 font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
    	 font-weight: lighter;
  font-size: 25px;
      padding: 15px;
  z-index: 10000;
    top: 50%; 
}

.navigation a {
	text-decoration: none;}

.btn1 {
  background-color: #000;
  color: #FFF;
 font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
  font-size: 35px;
      font-weight: lighter;
  padding: 15px;
  z-index: 10000;
    top: 50%; }


.navigationback a{
	text-decoration: none;}


.insta{
    padding: 100 0 0 0 ;
}


td{
	text-align: center; 
 font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
	font-size: 25px;
     font-weight: lighter;
	height: 30px;	
	width: 500px;
	vertical-align: middle;
	padding: 40px;
	border-bottom: 1px solid #ddd
}

tr:hover {
	background-color: #e8dede;
}

table.center {
	border-collapse: collapse;
    width:100%; 
	margin-top:0%;
    margin-left:0%; 
    margin-right:0%;
	margin-bottom: 100px;
	}
 
 table {
	 padding-top: 400px;
	 position: relative;
	
 }
 
 .smallprint{
    margin-bottom: 70px;
    color: #000;
	text-align: center;
 font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
     font-weight: lighter;
	font-size: 20px;
 }
