


body {
	margin: 0px;
}


#container {
    width:1483px;
    margin:0 auto;
}

 
.header {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 72px;
  text-align: center; 
  background-color: #1a1a1c;  
  background-image: url("http://cdn2.stylecraze.com/wp-content/uploads/2013/02/14-Simple-Tricks-To-Make-Your-Hair-Grow-Faster.jpg");
  background-repeat: no-repeat;
  background-position: left;
  height: 600px;
}


h1 {
	width: 100%;
	padding-top: 190px;
	margin-right: 50px;
}


img {
	width: 50px;
	height: 50px;
	position: relative;
	left: 500px;
	bottom: 70px;
}


.insta{
	color: white;
    font-family: 'Sacramento', cursive;	
	font-size: 25px;
	text-align: center;
	width: 100px;
	margin-left: 550px;
	margin-top: -140px;

}




.number{
	color: white;
	font-family: 'Sacramento', cursive;	
	font-size:15px;
	text-align: center;
	font-weight: bold;
	margin-top: -53px;
	width: 100px;
	margin-left: 685px;
	
}

.banner {
	margin-left: 80px;
	position: relative;
	margin-bottom: 0;
}


h3 {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	margin-top: 100px;
	margin-bottom: 5px;
}


.times {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;	
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
	
}


.section2 {
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: #e8dede;
    margin: 50px;
	margin-left: 20px;
	margin-right: 20px;
}


.btn {
  background-color: #000;
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 20px;
  z-index: 10000;
  margin-left: 645px;
  margin-top: 1550px;
  padding: 15px 32px;
  position: relative;
}

.white {
	color: white;
}


h2 {
	color: #000;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	position: relative;
}

td{
	text-align: center; 
	font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
	font-size: 20px;
	height: 30px;	
	width: 500px;
	vertical-align: middle;
	padding: 40px;
	border-bottom: 1px solid #ddd
}

tr:hover {
	background-color: #afafac;
}

table.center {
	border-collapse: collapse;
    width:100%; 
	margin-top:0%;
    margin-left:0%; 
    margin-right:0%;
	margin-bottom: 100px;
	}
 
 table {
	 padding-top: 400px;
	 position: relative;
	
 }
