

body {
	margin:0;
}

 
.header {
    background-color: #4f0418; }

.header h1 { 
     color: whitesmoke;
  font-size: 90px;
  text-align: center; 
  font-family: 'Josefin Sans', sans-serif;
   padding: 100px 20px 20px 20px;
    margin-bottom: 0px;
}

.banner{
      
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
	font-size: 18px;
	text-align: center;
    padding: 0px 20px 90px 20px;
	}

.door{
    
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    }

h3{
    text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
}

a {
      
  font-family: 'Josefin Sans', sans-serif;
	color: white;
	text-decoration: none;
}



.times {
	text-align: center;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;	
    font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
}


.section2 {
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: #e8dede;
    margin-top: 50px;
}

.pricelist{
    font-size: 35px;
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
	color: #000;
	text-align: center;
}

.navigation {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.navigationback {
    margin-bottom: 70px;
	text-align: center;
}


.btn {
 background-color: #000;
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  z-index: 10000;
    top: 50%; 
}

.btn1 {
  background-color: #000;
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  z-index: 10000;
    top: 50%; }

.insta{
    padding: 100 0 0 0 ;
}


td{
	text-align: center; 
	font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
	font-size: 22px;
	height: 30px;	
	width: 500px;
	vertical-align: middle;
	padding: 40px;
	border-bottom: 1px solid #ddd
}

tr:hover {
	background-color: #e8dede;
}

table.center {
	border-collapse: collapse;
    width:100%; 
	margin-top:0%;
    margin-left:0%; 
    margin-right:0%;
	margin-bottom: 100px;
	}
 
 table {
	 padding-top: 400px;
	 position: relative;
	
 }
 
 .smallprint{
    margin-bottom: 70px;
    color: #000;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	position: relative;
    font-weight: bold;
 }
